body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
    color: rgba(0, 0, 0, 0.85);
}

hr {
    width: 100%;
}

.button-primary {
    background-color: rgb(82, 82, 242);
    border-bottom-color: rgb(255, 255, 255);
    border-radius: 3px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    height: 56px;
    line-height: 56px;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 150px;
    white-space: nowrap;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    text-align: center;
    background-color: #f8f8f8;
    min-height: calc(100vh - 54px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: rgba(0, 0, 0, 0.85);
    font-family: 'PT Sans', sans-serif;
  }

.explanation, .highscores {
    width: 70vw;
}

input {
    border: 1px solid rgba(0,0,18,.13);
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: none;
    height: 2.5rem;
    line-height: calc(2.5rem - 2px);
    padding: 0 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}

dd {
    margin: 0;
}

.leaderboard th, .leaderboard td {
    text-align: left;
}
