{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Wanna hang, man?!{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Current word is: {{ session['current_progress'] | join(' ') }}</p>
    {% if not_present %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <p>Wrong guesses left: {{ session['wrong_guesses_left'] }}</p>
    <form method=post>
      <dl>
        <dt>Letter:
        <dd><input type=text name=letter maxlength="1"
                   value="{{ request.form.letter }}">
      </dl>
      <input class="button-primary" type=submit value=Ask>
    </form>
{% endblock %}
