{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Welcome to Hangman{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="explanation">
    <p>Welcome to Hangman! Hangman is the game in which you have to guess a secret word. You can only make a limited number of wrong guesses!</p>
    <p>
      <a class="button-primary" href="{{ url_for('game') }}">Let's start</a>
    </p>
  </div>

  {% if highscores %}
    <hr/>
    <div class="highscores">
      <h2>Highscores</h2>
      <table class="leaderboard">
        <thead>
          <tr>
            <th>Name</th>
            <th>Score</th>
            <th>When</th>
          </tr>
        </thead>
        <tbody>
          {% for highscore in highscores %}
            <tr>
              <td>{{ highscore['username'] }}</td>
              <td>{{ highscore['score'] }}</td>
              <td>{{ highscore['created'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </div>
  {% endif %}
{% endblock %}
