{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Result{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>The word was: <i>{{ session['secret_word'] }}</i></p>
    {% if session['state'] == 'GAME_WON' %}
        <h2>Congratulations!</h2>
        <p>Your score was: {{ session['score'] }}</p>
        <form method=post>
            <dl>
                <dt>Username:
                <dd><input type=text name=username value="{{
                    request.form.username }}">
            </dl>
            <input class="button-primary" type=submit value=Save>
        </form>
    {% else %}
        <h2>Bummer!</h2>
        <p>Better luck next time</p>
        <a class="button-primary" href="{{ url_for('index') }}">Back to home</a>
    {% endif %}
{% endblock %}
